rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /used_promos/{userPromoId} {
      allow create: if !exists(/databases/$(database)/documents/used_promos/$(userPromoId));
      allow read, update, delete: if false;
    }
    match /orders/{orderId} {
      allow create: if false;
      allow read, update, delete: if true;
    }
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
